@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import "reset";
@import "grid";

body {
  
  background-image: url('https://i.imgur.com/AA4z78D.jpg');
  background-repeat: no-repeat;
  background-size: 100% 140% ;
  background-attachment: fixed;
  


}
button:hover {
  background: #e5432d;
  box-shadow: 4px 4px 1px 1px #eee5e5;
  color: white;
  
}

//APP PAGE FLEXBOX
.flexbox-container {
  width: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flexbox-itemApp {
 
  margin: 10px;
  align-items: center;
  align-content: center;
 
}

button {
  width: 200px;
  height: 60px;
}
.title {
  text-align: center;
  width: 300px;
  height: px;
  color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  

}

.flexbox-1 {
  width: 200px;
  height: 200px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 50px;
  background-color: lightgrey;
  border-radius: 8%;
}

.flexbox-2 {
  width: 300px;
  background-color: white;
  color: black;
  padding: 50px;
  margin: 5px 5px 5px 5px;
  background-color: lightgrey;
  border-radius: 8%;
}

flexbox-app-3 {

}




// .postContainer {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;

// }



// .Form {
//   padding-left: 100 px;
//   max-width: 100px;
  
// }

// div {
//   text-align: center;
//   margin: 50px;

// }
